button{
    height:50px;
    width:200px;
    background-color: #FF6464;
    border-radius: 15px;
    border:none;

    color:white;
    font-size:24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}